@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.username{
    color:white;
    font-family: "Geist Mono", monospace;
    width: max-content;
    text-align: center;
    padding: 5px 10px;

    
    
}
.client
{
    
border-bottom: 1px solid white ;
}
