@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.editorDiv
{
    color: white;
    width: auto;
    /* background: black; */
    background-color: lab(2.75381% 0 0);
    
}

.mainWrap
{
    display: flex;
    height: 100vh;
    width: 100%;
    background: black;
}

.editorInner
{
    width: 85vw;
}

.aside
{
    background: lab(15.204% 0 -.00000596046);
    width: 15vw;
    position: relative;
}
.nameHeading
{
    color: oklch(0.99 0 0);
    font-weight: bold;
    font-family: "Geist Mono", monospace;
    text-align: center;
}
.logo
{
    border-bottom: oklch(0.99 0 0) solid 2px;
    width: 100%;
    padding: 10px 0px;
     
    
}
.editorLogo
{
    height: 30px;
    width: 30px;
}




.editorButtons{
  position: absolute;  
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.copyRoomIdBtn
{    
    margin: 10px;
  border-radius: 4px;
  color: lab(98.26% 0 0);
  background: lab(0% 0 0);
  border-style: none;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-family: "Geist Mono", monospace;
}

.copyRoomIdBtn:hover
{
    background-color: lab(7.78201% -.0000149012 0);
    
}

.leaveRoom
{
        margin: 10px;
  border-radius: 4px;
  color: lab(0% 0 0) ;
  background: lab(98.26% 0 0);
  border-style: none;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-family: "Geist Mono", monospace;
}

.leaveRoom:hover
{
    background-color: lab(90.26% 0 0);
    
}
.clientsList
{
    width: 100%;
    overflow: auto;
    margin-top: 2rem;

}