@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.mainDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: oklch(0.99 0 0);
}

.name
{ color: lab(0% 0 0);
  font-family: "Geist Mono", monospace;
  word-spacing: 3px;
}

.inputDiv
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.formDiv
{ display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid; */
  /* background: beige; */
  padding: 50px;
  border-radius: 10px;
  /* border: 2px solid white; */
  background-color: oklch(0.95 0 0);
  box-shadow: 0 1px 3px 0 #0000001a;
  justify-content: center;

}

.roomInput
{
  margin: 10px 0px;
  padding: 9px 13px;
  border-radius: 10px;
  border-style: none;
  width: 90%
  
}

.usernameInput
{
  margin: 10px 0px;
  padding: 9px 13px;
  border-radius: 10px;
  border-style: none;
  width: 90%;
}

.joinBtn
{ 
  margin: 6px 0px;
  /* padding: 3px; */
  border-radius: 7px;
  color: lab(98.26% 0 0);
    background: lab(0% 0 0) ;

  border-style: none;
  padding: 5px 3px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
 font-family: "Geist Mono", monospace;
 font-weight: bold;
  
  
}

.joinBtn:hover
{
  background: lab(98.26% 0 0);
  color: lab(0% 0 0) ;
  /* border: 1px solid whitesmoke; */

}



input:focus
{ 
 

  outline: none;
}


.generateRoomIdButton
{ margin: 7px 4px;
  /* padding: 3px; */
  border-radius: 7px;
 

  border-style: none;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  font-family: "Geist Mono", monospace;
  font-weight: bold;
  color: lab(0% 0 0);
  background-color: white;
}

.buttonsdiv
{
  display: flex;
  flex-direction: row;
}

.copyRoomIdButton
{
  margin: 7px 4px;
  /* padding: 3px; */
  border-radius: 7px;
 

  border-style: none;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  font-family: "Geist Mono", monospace;
  font-weight: bold;
  color: lab(0% 0 0);
  background-color: white;
}

.generateRoomIdButton:hover, .copyRoomIdButton:hover
{
  background-color:  oklch(0.92 0 0);
  color: lab(0% 0 0);
}