@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
body{
  
    margin: 0;
}
.logo
{
    height: 100px;
    width: 100px;
    margin: 1rem;
}

.font
{
  
   font-family: "DM Mono", monospace;
    color: white;
    font-weight: bold;
}