@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
  
    margin: 0;
}


.font
{
  
   font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
    color: lab(0% 0 0);
    font-weight: bold;
}